@()

@import ch.insign.cms.blocks.jotformpageblock.service.JotFormService
@import ch.insign.cms.blocks.jotformpageblock.permission.JotFormPermission
@import ch.insign.cms.blocks.jotformpageblock.model.JotForm
@import ch.insign.cms.blocks.jotformpageblock.JotFormPageBlock
@import ch.insign.cms.blocks.jotformpageblock.view.html.deleteConfirmModal
@import ch.insign.cms.views.html.helpers.dateTimeSwiss
@import ch.insign.playauth.views.helper._
@import ch.insign.commons.util.Configuration;

@Option(JotForm.find.all).filter(e => e.nonEmpty).map { forms => @forms.filter(e => e.getJotFormApiKey() != null && e.getJotFormApiKey.equals(Configuration.getOrElse("jotform.api.key", ""))).sortBy(e => Option(e.getCreate)).map { form =>
    @defining(Option(JotFormService.getAPIform(form.getApiFormId))
            .filter(e => e != null && JotFormService.validResponseCode(e) && e.getJSONObject(JotFormService.JOT_FORM_KEY_CONTENT) != null)
            .map(_.getJSONObject(JotFormService.JOT_FORM_KEY_CONTENT)).filter(c => c != null)) { content =>
        <tr>
            <td>
                @Option(form.getApiFormId)
            </td>
            <td>
                @Option(form.getApiFormTitle)
            </td>
            <td>
                @dateTimeSwiss(form.getCreate)
            </td>
            <td>
                @Option(content).filter(c => c.isDefined && c.get.get(JotFormService.JOT_FORM_UPDATE_DATE) != null).map(_.get.get(JotFormService.JOT_FORM_UPDATE_DATE))
            </td>
            <td>
                @Option(content).filter(c => c.isDefined && c.get.get("count") != null).map(_.get.get("count"))
            </td>
            <td>
                @if(JotFormPageBlock.find.byApiJotFormId(form.getApiFormId).getResultList.isEmpty) {
                    <a data-toggle="modal" @lacksPermission(JotFormPermission.DELETE) { disabled } role="button" href="#delete-jotform-@form.getId" title="@Messages("btn.delete")">
                        <i class="fa fa-trash"></i>
                    </a>
                    &nbsp;
                    @deleteConfirmModal(form)
                }
                <span>
                    <a target="_blank" @lacksPermission(JotFormPermission.VIEW) { disabled } href="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.preview(form.getApiFormId)">
                        <i class="fa fa-eye"></i>
                    </a>&nbsp;
                </span>
            </td>
        </tr>
    }
}}.getOrElse {
    <tr>
        <td colspan="6" class="text-muted text-center">
            <br><i class="fa fa-search text-muted"></i> &nbsp; @Messages("search.no.result")<br><br>
        </td>
    </tr>
}
