@import ch.insign.cms.blocks.reviewblock.models.ReviewBlock
@(data: ReviewBlock, editForm: Form[_], backURL: String)(extension: Html=Html.apply(""))

@import ch.insign.cms.views.html.admin.contentBlockEdit
@import metronic._
@import play.api.i18n.Messages;

@contentBlockEdit(data, editForm, backURL){
	@text(
		editForm,
		"targetId",
		Messages("backend.block.review.targetId.label"),
		Messages("backend.block.review.targetId.placeholder"),
		Messages("backend.block.review.targetId.help")
	)

	@select(
		editForm,
		"status",
		Messages("backend.block.review.status.label"),
		ReviewBlock.ReviewStatus.values()
				.map(_.name)
				.map(cs => (cs, Messages("backend.block.review.status." + cs.toLowerCase())))
				.toSeq
	)

	@checkbox(
		editForm,
		"loginRequired",
		Messages("backend.block.review.loginRequired.label")
	)

	<div class="form-group">
		<label class="col-md-3 control-label">@Messages("backend.block.review.link_to_submissions.label")</label>
		<div class="col-md-9">
			<div class="input-group">
				<a href="@ch.insign.cms.blocks.reviewblock.controllers.routes.ReviewBackendController.list(data.getTargetId, 1, 0)">@Messages("backend.block.review.link_to_submissions")</a>
			</div>
		</div>
	</div>

	@extension
}
