@import ch.insign.cms.blocks.reviewblock.models.ReviewBlock
@import ch.insign.cms.blocks.reviewblock.controllers.ReviewFrontendController

@(review: ReviewBlock)

@getWidthByRating(rating: Int) = @{
	(100.0 * rating / review.getRatingsCount).round
}
@if(!ReviewBlock.ReviewStatus.DISABLED.equals(review.getStatus)){
	<div class="rating-container-main">
		<input class="bookRatingStat" name="bookRating" type="hidden" value="@review.getAvgRatings">
		<a href="#" class="ratingPopoverToggle rating-detail-popover"><i class="fa fa-angle-down"></i></a>
		<a href="#productRatingDetails" class="rating-detail-link js-rating-detail" title="@Messages("frontend.review.stat.submissions_count.title")">
			@if(review.getRatingsCount == 1) {
				@Messages("frontend.review.stat.submissions_count_1")
			} else {
				@Messages("frontend.review.stat.submissions_count", review.getRatingsCount)
			}
		</a>
	</div>

	<div class="ratingPopoverContent hidden">
		<table class="table table-condensed table-rating-summary">
			<thead>
				<tr>
					<th></th>
					<th colspan="2">@Messages("frontend.review.stat.avgRating", Math.round(review.getAvgRatings * 10) / 10.0) </th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@Messages("frontend.review.stat.5stars")</td>
					<td>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: @{getWidthByRating(review.getRatingsStatistic(ReviewBlock.FIVE_STAR))}%;"
							>
							</div>
						</div>
					</td>
					<td class="text-right">@review.getRatingsStatistic(ReviewBlock.FIVE_STAR)</td>
				</tr>
				<tr>
					<td>@Messages("frontend.review.stat.4stars")</td>
					<td>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: @{getWidthByRating(review.getRatingsStatistic(ReviewBlock.FOUR_STAR))}%;">
							</div>
						</div>
					</td>
					<td class="text-right">@review.getRatingsStatistic(ReviewBlock.FOUR_STAR)</td>
				</tr>
				<tr>
					<td>@Messages("frontend.review.stat.3stars")</td>
					<td>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: @{getWidthByRating(review.getRatingsStatistic(ReviewBlock.THREE_STAR))}%;">
							</div>
						</div>
					</td>
					<td class="text-right">@review.getRatingsStatistic(ReviewBlock.THREE_STAR)</td>
				</tr>
				<tr>
					<td>@Messages("frontend.review.stat.2stars")</td>
					<td>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: @{getWidthByRating(review.getRatingsStatistic(ReviewBlock.TWO_STAR))}%;">
							</div>
						</div>
					</td>
					<td class="text-right">@review.getRatingsStatistic(ReviewBlock.TWO_STAR)</td>
				</tr>
				<tr>
					<td>@Messages("frontend.review.stat.1stars")</td>
					<td>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
							style="width: @{getWidthByRating(review.getRatingsStatistic(ReviewBlock.ONE_STAR))}%;">
							</div>
						</div>
					</td>
					<td class="text-right">@review.getRatingsStatistic(ReviewBlock.ONE_STAR)</td>
				</tr>
			</tbody>
		</table>
		<p class="text-center">
			<small>
				@if(review.getRatingsCount > 0) {
					<a href="#productRatingDetails" class="js-rating-detail">
						@Messages("frontend.review.stat.showAll.label", review.getRatingsCount)
					</a>
				}
			</small>
		</p>
	</div>
}
