@import ch.insign.cms.blocks.reviewblock.models.ReviewBlock
@import ch.insign.cms.blocks.reviewblock.forms.ReviewSubmissionForm
@import ch.insign.playauth.PlayAuth
@import ch.insign.cms.views.html._
@import helper._
@import ch.insign.cms.blocks.reviewblock.controllers.ReviewFrontendController.Sorting
@import ch.insign.cms.blocks.reviewblock.controllers.ReviewFrontendController

@(data: ReviewBlock, editForm: Form[ReviewSubmissionForm])

@_blockBase(data = data, delete=true, edit=true, add=false, color="brown", name="Content") {
    @if(!ReviewBlock.ReviewStatus.DISABLED.equals(data.getStatus)){
        <div id="productRatingDetails" class="section review-container">
            <div class="section-header">
                <div class="pull-right review-sorting">
                    @Messages("frontend.review.sortBy"): &nbsp;

                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle review-sorting-title" id="reviewDropdown@data.getId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span id="sorting_title_@data.getId">@Messages("frontend.review.sortBy.rating")</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="reviewDropdown@data.getId">
                            <li>
                                <a href="#" class="review-sortBy" data-sorting="@Sorting.THUMBS_UP" data-target="#sorting_title_@data.getId">
                                    @Messages("frontend.review.sortBy.rating")
                                </a>
                            </li>
                            <li>
                                <a href="#" class="review-sortBy" data-sorting="@Sorting.DATE" data-target="#sorting_title_@data.getId">
                                    @Messages("frontend.review.sortBy.date")
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h3>
                    @{Option(data.getTitle.get())
                        .filter(_.nonEmpty)
                        .getOrElse(Messages("frontend.review.reviewList.title"))}

                    <i class="spinner fa fa-refresh fa-spin" style="display:none; width: auto;"></i>
                </h3>
            </div>

            @if(data.isLoginRequired() && !PlayAuth.isAuthenticated()) {
                <p>
                    @Html(Messages("frontend.review.signin_required"))
                </p>
            }

            <ul class="list-ratings review-submission-container" data-review_id="@data.getId" data-sorting="@Sorting.THUMBS_UP" data-page="1">

                <li class="review-more-btn" style="display: none;">
                    <hr>
                    <div class="text-center">
                        <a href="#" class="btn btn-default">
                            <i class="spinner fa fa-refresh fa-spin" style="font-size:24px; display:none"></i>
                            @Messages("frontend.review.button.show_more") <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                    <hr>
                </li>

                @if(ReviewFrontendController.canAddReview(data)) {
                    <li>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8 col-md-9">
                                @form(ch.insign.cms.blocks.reviewblock.controllers.routes.ReviewFrontendController.addSubmission(data.getId), 'class -> "review-form") {
                                    <h4>@Messages("frontend.review.reviewTitle")</h4>
                                    <input id="review_rating" type="hidden" value="" name="@editForm("rating").name()"/>
                                    <br><br><br>

                                    <div>
                                        <label for="review_answer">@Messages("frontend.review.answer.label")</label><br>
                                        <textarea id="review_answer" name="@editForm("answer").name()" class="form-control" rows="3" placeholder="@Messages("frontend.review.answer.placeholder")"></textarea><br>
                                    </div>

                                    <div>
                                        <label for="review_displayName">@Messages("frontend.review.displayName.label")</label><br>
                                        <input id="review_displayName" name="@editForm("displayName").name()" value="@editForm("displayName").value()" type="text" class="form-control" >
                                    </div>
                                    <br><br>

                                    <p class="text-right">
                                        <button type="submit" class="reviewSubmit btn btn-primary">
                                            <i class="spinner fa fa-refresh fa-spin" style="font-size:24px; display:none"></i>
                                            @Messages("frontend.review.submitButton.label")
                                        </button>
                                    </p>
                                }
                                <div class="alert alert-success success-message" role="alert" style="display: none">
                                    @Messages("frontend.review.review_successfully_added")
                                </div>
                            </div>
                        </div>
                        <hr>
                    </li>
                }

            </ul>
        </div>

        <script type="application/ld+json">
            @Html(data.renderSchemaorgView)
        </script>
    }
}
