@import ch.insign.commons.db.MString
@(
    mstring: MString,
    label: String,
    languages: Seq[String] = null
)

@import metronic._
@import ch.insign.cms.models.CMS

@if(mstring != null && mstring.getId != null) {
    @defining(Option(languages).filter(_.nonEmpty).getOrElse(CMS.getConfig.frontendLanguages.toSeq)) { langs =>
    @for(lang <- langs) {
    <div mstring-lang="@lang">
        <div class="form-group email-preview">
            <label class="col-md-3 control-label">@label</label>
            <div class="col-md-9">
                @Html(mstring.get(lang))
            </div>
        </div>
    </div>
    }}
}
