@(data: ch.insign.cms.blocks.sliderblock.SliderEntryBlock, editForm: Form[ch.insign.cms.blocks.sliderblock.SliderEntryBlock], backURL: String)

@import metronic.{file, text}
@import ch.insign.cms.views.html.helpers.imageUploadMstring
@import ch.insign.cms.views.html.helpers.mstring
@import ch.insign.cms.views.html.helpers.mstringFile
@import ch.insign.cms.views.html.helpers.responsiveFileInput
@import ch.insign.cms.views.html.helpers.mstringTextarea
@import ch.insign.cms.views.html.admin.baseBlockEdit
@import play.api.i18n.Messages
@import ch.insign.cms.models.CMS
@import ch.insign.cms.blocks.sliderblock.SliderCollectionBlock

@baseBlockEdit(data, editForm, backURL, Messages("slider.entry.block.edit.title")){
    @mstring(
        data.getTitle,
        editForm,
        "title",
        Messages("slider.entry.block.field.title.label"),
        Messages("slider.entry.block.field.title.placeholder")
    )

    @mstringTextarea(
        data.getText,
        editForm,
        "text",
        Messages("slider.entry.block.field.text.label"),
        Messages("slider.entry.block.field.text.placeholder"),
        ""
    )

    @mstring(
        data.getLink,
        editForm,
        "link",
        Messages("slider.entry.block.field.link.label"),
        Messages("slider.entry.block.field.link.placeholder")
    )

    <div class="form-group ">
        <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-6 col-md-8 col-sm-6">
            <label class="checkbox">
                <input type="checkbox" id="linkInNewWindow" name="linkInNewWindow" @(if(editForm("linkInNewWindow").value.equals("true")) "checked") value="true" />
                <input type="hidden" name="linkInNewWindow" value="false" />
                @Messages("slider.entry.block.field.linkInNewWindow.label")
            </label>
        </div>
    </div>

    @mstring(
        data.getLinkText,
        editForm,
        "linkText",
        Messages("slider.entry.block.field.linkText.label"),
        Messages("slider.entry.block.field.linkText.placeholder")
    )

    @if(CMS.getConfig.isMoxieManagerEnable){
        @mstringFile(
            data.getBackground,
            editForm,
            "background",
            Messages(
                "slider.entry.block.field.background.label",
                Option(data.getParentBlock).flatMap(block => Option(block.asInstanceOf[SliderCollectionBlock].getBackgroundWidth)).flatMap(width => Option(width.toString)).getOrElse("1140"),
                Option(data.getParentBlock).flatMap(block => Option(block.asInstanceOf[SliderCollectionBlock].getBackgroundHeight)).flatMap(height => Option(height.toString)).getOrElse("455")
            ),
            ""
        )(metronic.constructors.metronic9)
    } else {
        @if(CMS.getConfig.isResponsiveFileManagerEnable) {
            @responsiveFileInput(
                data.getBackground,
                editForm,
                "background",
                Messages(
                    "slider.entry.block.field.background.label",
                    Option(data.getParentBlock).flatMap(block => Option(block.asInstanceOf[SliderCollectionBlock].getBackgroundWidth)).flatMap(width => Option(width.toString)).getOrElse("1140"),
                    Option(data.getParentBlock).flatMap(block => Option(block.asInstanceOf[SliderCollectionBlock].getBackgroundHeight)).flatMap(height => Option(height.toString)).getOrElse("455")
                ),
                ""
            )(metronic.constructors.metronic9)
        } else {
            @imageUploadMstring(
                data.getBackground,
                editForm,
                "background",
                Messages(
                    "slider.entry.block.field.background.label",
                    Option(data.getParentBlock).flatMap(block => Option(block.asInstanceOf[SliderCollectionBlock].getBackgroundWidth)).flatMap(width => Option(width.toString)).getOrElse("1140"),
                    Option(data.getParentBlock).flatMap(block => Option(block.asInstanceOf[SliderCollectionBlock].getBackgroundHeight)).flatMap(height => Option(height.toString)).getOrElse("455")
                ),
                ""
            )(metronic.constructors.metronic9)
        }
    }

    @text(
        editForm,
        "imageMaxWidth",
        Messages("slider.entry.block.field.imageMaxWidth.label"),
        Messages("slider.entry.block.field.imageMaxWidth.label")
    )

    @text(
        editForm,
        "imageMaxHeight",
        Messages("slider.entry.block.field.imageMaxHeight.label"),
        Messages("slider.entry.block.field.imageMaxHeight.label")
    )

    @text(
        editForm,
        "imageQuality",
        Messages("slider.entry.block.field.imageQuality.label"),
        Messages("slider.entry.block.field.imageQuality.label")
    )

    @if(CMS.getConfig.isMoxieManagerEnable){
        @mstringFile(
            data.getImage,
            editForm,
            "image",
            Messages("slider.entry.block.field.image.label"),
            ""
        )(metronic.constructors.metronic9)
    } else {
        @if(CMS.getConfig.isResponsiveFileManagerEnable) {
            @responsiveFileInput(
                data.getImage,
                editForm,
                "image",
                Messages("slider.entry.block.field.image.label"),
                ""
            )(metronic.constructors.metronic9)
        } else {
            @imageUploadMstring(
                data.getImage,
                editForm,
                "image",
                Messages("slider.entry.block.field.image.label"),
                ""
            )(metronic.constructors.metronic9)
        }
    }
}
