@import play.api.i18n.Messages;

<div id="confirm-unrestrict-block" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    @Messages("block.modal.confirmUnrestrict.title")
                </h4>
            </div>
            <div class="modal-body">
                <p>@Html(Messages("block.modal.confirmUnrestrict.body", "<span class=\"block-name\"></span>"))</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">@Messages("modal.cancel.btn")</button>
                <a href="#" class="btn btn-primary">@Messages("block.modal.confirmUnrestrict.btn")</a>
            </div>
        </div>
    </div>
</div>
