@(item: ch.insign.cms.models.NavigationItem)

@import ch.insign.playauth.views.helper._
@import ch.insign.cms.controllers
@import ch.insign.cms.permissions.NavigationPermission

@icon(name: String, args: (Symbol, Any)*) = {
    @defining((args.toMap, "fa fa-" + name)) { case (args, name) =>
        <i @toHtmlArgs(args.get('class).map(v => args + ('class -> (name + " " + v))).getOrElse(args + ('class -> name)))></i>
    }
}

@Option(item.getVpathHistory).filter(_.nonEmpty).map { history =>
    <button type="button" class="btn btn-link btn-xs"
    title="@Messages("navigation.search.item.show_301_redirects_tooltip")"
    data-toggle="collapse"
    data-target="#vpath-history-@{
        item.getId
    }"
    >
    @icon("list")
    </button>

    <div id="vpath-history-@{
        item.getId
    }" class="collapse">
        <table class="table table-condensed table-hover">
        @history.map(Option(_)).map { path =>
            <tr class="vpath-history-item"><td>@path
                @if(item.getPage.canModify) {
                    @hasPermission(NavigationPermission.DELETE(item)) {
                        @defining(controllers.routes.NavigationController.deleteNavigationHistoryEntry(item.getId, path.getOrElse("../../../../../../../play-theme-metronic/public"))) { call =>
                            <a href="@call.url" data-method="@call.method" class="delete-btn pull-right">@icon("trash")</a>
                        }
                    }.getOrElse {
                        @icon("trash", 'class -> "pull-right icon-edit-disabled", 'title -> Messages("cms.block.permissions.no_accsses.label"))
                    }
                } else {
                    @icon("trash", 'class -> "pull-right icon-edit-disabled", 'title -> Messages("cms.block.permissions.no_accsses.label"))
                }
            </td></tr>
        }
        </table>
    </div>
}
