@(managers: List[ch.insign.cms.controllers.CacheController.CacheManagerView])

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.controllers
@import ch.insign.playauth.views.helper._

@modal(title: String, id: String)(content: Html) = {
    <!-- Modal -->
    <div class="modal fade" id="@id" tabindex="-1" role="dialog" aria-labelledby="@{id}-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="@{id}-label">@title</h4>
                </div>
                <div class="modal-body">
                    @content
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}


@defining(new AdminContext) { ctx =>
@layout(ctx){
@defining(new scala.xml.PrettyPrinter(160, 2)) { printer =>
    @managers.zipWithIndex.map { case (manager, idx) =>
        <h2>@manager.name</h2>
        <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#manager-config-@idx">
            <span class="glyphicon glyphicon-cog"></span>
        </button>
        @modal("Active Configuration", "manager-config-"+idx) {
            <pre>@printer.format(scala.xml.XML.loadString(manager.config))</pre>
        }
        <ul>
            @manager.caches.map { cache =>
                <li>@cache.name</li>
                <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#cache-config-@{cache.name}">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
                @modal("Active Configuration", "cache-config-"+cache.name) {
                    <pre>@printer.format(scala.xml.XML.loadString(cache.config))</pre>
                }
            }
        </ul>
    }
}}}
