@(results: ch.insign.commons.db.Paginate[ch.insign.cms.models.NavigationItem], query: String, page: Int, filterTrashedBlocks: Boolean)

@import ch.insign.cms.views.html.admin.utils.pagination
@import ch.insign.cms.views.html.admin.utils.messages
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.admin._navigationVpathList
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.models.Template
@import ch.insign.cms.models.NavigationItem
@import ch.insign.cms.models.PageBlock
@import ch.insign.cms.blocks.linkblock.LinkBlock
@import ch.insign.cms.blocks.backendlinkblock.BackendLinkBlock
@import ch.insign.cms.controllers
@import ch.insign.playauth.views.helper._
@import ch.insign.cms.permissions.NavigationPermission
@import scala.List

@pageType(page: PageBlock) = @{
    Template.blockDisplayName(page.getClass)
}

@pageTitle(page: PageBlock) = @{
    Option(page.getPageTitle).filter(_.nonEmpty)
        .orElse(Option(page.getNavTitle)).filter(_.nonEmpty)
}

@icon(name: String, args: (Symbol, Any)*) = {
    @defining((args.toMap, "fa fa-" + name)) { case (args, name) =>
        <i @toHtmlArgs(args.get('class).map(v => args + ('class -> (name + " " + v))).getOrElse(args + ('class -> name)))></i>
    }
}

@visibilityIcon(page: PageBlock) = {
    @if(!Template.hasAccessRestriction(page) && Template.isVisible(page)) {
        @icon("eye-open", 'title -> Messages("navigation.search.item.visible"))
    } else {
        @icon("eye-close", 'title -> Messages("navigation.search.item.not_visible"))
    }
}

@defining(new AdminContext) { ctx =>
@layout(ctx){
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                @icon("link") @Messages("navigation.search.title")
            </div>
        </div>
        <div class="portlet-body form">
            <div class="row">
	            <div class="col-md-12"><p>@Messages("navigation.search.description")</p></div>
                <div class="col-md-6 col-sm-12">
                @helper.form(action = controllers.routes.NavigationController.search(),
                    'class -> "form-inline", 'id -> "navigation-search-form", 'role -> "form") {
                        <div class="input-group">
                            <label class="sr-only">Suchebegriff</label>
                            <input id="term" type="text" name="q" value="@query" class="form-control"
                                placeholder="@Messages("navigation.search.query_input.placeholder")" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    @icon("search")
                                </button>
                            </span>
                        </div>
                        <br>
                        <label for="filterTrashedBlocks">
                            <input type="checkbox" name="filterTrashedBlocks" id="filterTrashedBlocks" value="true" @if(filterTrashedBlocks) {checked} />
                            @Messages("navigation.search.checkbox.filter.label")
                            <input type="hidden" name="filterTrashedBlocks" value="false"/>
                        </label>
                    }
                </div>

                <div class="col-md-6 col-sm-12">
                    <div id="" class="pull-right">
                        <label>
                            <select id="selectRowValue" name="selectRowValue" size="1" class="form-control input-small">
                            @for(selectedValue <- results.getPaginateItemforSelect) {
                                <option
                                    @if(selectedValue == results.getItemsPerPage || results.getTotalItemCount == results.getItemsPerPage) { selected="selected" }
                                    value="@selectedValue"
                                    data-url="@controllers.routes.NavigationController.search(query, 1, selectedValue, filterTrashedBlocks)">
                                    @if(selectedValue < 0) {
                                        Alle
                                    }else {
                                        @selectedValue
                                    }
                                </option>
                            }
                            </select>
                        </label>
                    </div>
                </div>
            </div>

            @pagination(page, results.getPage(page), controllers.routes.NavigationController.search(query, _, results.getItemsPerPage, filterTrashedBlocks))

            @messages(ctx)

            <table class="table table-striped table-bordered table-hover table-advance" style="margin-top:20px">
                <thead>
                    <tr>
                        <th>@Messages("navigation.search.title_col")</th>
                        <th>@Messages("navigation.search.path_col")</th>
                        <th>@Messages("navigation.search.language_col")</th>
                        <th>@Messages("navigation.search.site_col")</th>
                        <th>@Messages("navigation.search.type_col")</th>
                    </tr>
                </thead>
                <tbody>
                    @Option(results.getPage(page).getList.toList).filter(_.nonEmpty).map { items => @items.map { item =>
                        @if(filterTrashedBlocks || !item.getPage.isTrashed) {
                        <tr @if(item.getPage.isTrashed) {class="danger"}>
                            <td>
                                @pageTitle(item.getPage).map { title =>
                                    <span>@title</span>
                                }.getOrElse {
                                    <span style="color: gray">@Messages("navigation.search.item.no_title")</span>
                                }
                            </td>
                            <td>
                                @Option(item.getURL).filter(_.nonEmpty).map { path =>
                                    @if(!item.getPage.isTrashed && item.getPage.canRead) {
                                            <a href="@path" target="_blank" data-toggle="tooltip">@path</a>
                                     } else {
                                        @path
                                    }
                                }.getOrElse {
                                    <span style="color: gray">@Messages("navigation.search.item.no_vpath")</span>
                                }

                                @if(!item.getPage.isTrashed) {
                                    @if(item.getPage.canModify) {
                                        @hasAllPermissions(NavigationPermission.ADD, NavigationPermission.EDIT(item)) {
                                            <a href="#vpath-add-@item.getId" data-toggle="collapse"><i class="fa fa-plus pull-right"></i></a>
                                        }.getOrElse{
                                            <i class="fa fa-plus fa-plus-disabled pull-right" title="@Messages("cms.block.permissions.no_accsses.label")"></i>
                                        }
                                    } else {
                                        <i class="fa fa-plus fa-plus-disabled pull-right" title="@Messages("cms.block.permissions.no_accsses.label")"></i>
                                    }
                                }

                                <div id="vpath-add-@item.getId" class="collapse">
                                    <div class="row">
                                        <form action = "@controllers.routes.NavigationController.createNavigationHistoryEntry(item.getId)" class="form-inline" role="form"  id="modalNavItemForm-@item.getId">
                                            <div class="col-lg-9">
                                                    <input type="text" class="form-control" placeholder="@Messages("navigation.collapse.input.placeholder")" id="vpath" name="vpath">
                                            </div>
                                            <div class="col-lg-3">
                                                <a href="javascript:void(0);" class="btn btn-primary" id="pathItem-btn-add" data-item-id="@item.getId">@Messages("navigation.collapse.button.add")</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class=".col-lg-offset-1 col-lg-9">
                                            <br>
                                            <div class="alert alert-danger" style="display: none;" id="vpath_error_container-@item.getId">
                                        </div>
                                        </div>
                                    </div>
                                </div>

                                @if(!item.getPage.isTrashed && item.getPage.canRead) {
                                    <div id="vpath_list_container-@item.getId">
                                        @_navigationVpathList(item)
                                    </div>
                                }

                            </td>
                            <td>
                                @Messages("language.name." + item.getLanguage)
                            </td>
                            <td>
                                @item.getPage.getSite
                            </td>
                            <td>
                                @visibilityIcon(item.getPage)
                                @pageType(item.getPage)
                                @if(item.getPage.canModify) {
                                    @hasAllPermissions(NavigationPermission.EDIT(item)) {
                                        <a href="@controllers.routes.BlockController.edit(item.getPage.getId, request.uri)">@icon("edit", 'class -> "pull-right")</a>
                                    }.getOrElse{
                                        @icon("edit", 'class -> "pull-right icon-edit-disabled", 'title -> Messages("cms.block.permissions.no_accsses.label") )
                                    }
                                } else {
                                    @icon("edit", 'class -> "pull-right icon-edit-disabled", 'title -> Messages("cms.block.permissions.no_accsses.label") )
                                }
                            </td>
                        </tr>
                        }
                    }}.getOrElse {
                        <tr>
                            <td colspan="4" class="text-muted text-center">
                                <br><i class="fa fa-search text-muted"></i> &nbsp; @Messages("navigation.search.no_results")<br><br>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @pagination(page, results.getPage(page), controllers.routes.NavigationController.search(query, _, results.getItemsPerPage, filterTrashedBlocks))

        </div>
    </div>

}}
<script src="@ch.insign.cms.views.html.tags._asset("javascripts/navigation-search.js")"></script>
