@import ch.insign.cms.blocks.groupingblock.GroupingBlock
@import ch.insign.playauth.PlayAuth
@import ch.insign.playauth.permissions.GlobalDomainPermission
@(backURL: String=null, showAll: Boolean=false)

@import views.html.helper.form
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.admin._navigationOverviewTree
@import ch.insign.cms.controllers
@import ch.insign.cms.models.CMS
@import ch.insign.cms.models.PageBlock
@import ch.insign.cms.views.html.admin.deleteBlockModal
@import play.api.i18n.Messages
@import ch.insign.cms.views.html.tags._

@pageHeader = {
    <link rel="stylesheet" type="text/css" href="@_asset("backend/navigation-overview.css")" />
}

@pageFooter = {
    <script src="@_asset("backend/js/navigation-ui-nestable.js")"></script>
    <script src="@_asset("javascripts/blocks.js")"></script>
    <script src="@_asset("backend/js/blocks-sortable.js")"></script>
}

@layout(
    new AdminContext(),
    title = Messages("admin.navigation.overview.title"),
    pageHeader = pageHeader,
    pageFooter = pageFooter
){

        <div class="row">
            <div class="col-md-6">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-sitemap"></i>@Messages("admin.navigation.overview.label")</div>
                    </div>
                    <div class="portlet-body ">

                        <div class="margin-bottom-10" id="nestable_list_menu">
                            <button type="button" class="btn btn-default" data-action="expand-all">@Messages("admin.navigation.expand.all.label")</button>
                            <button type="button" class="btn btn-default" data-action="collapse-all">@Messages("admin.navigation.collapse.all.label")</button>

                            @* Show current (default) / all sites in the tree. Allowed only for superusers *@
                            @if(CMS.getSites.getAll.size > 1 && PlayAuth.isPermitted(GlobalDomainPermission.ALL)) {
                                @if(showAll) {
                                    <a href="@controllers.routes.NavigationController.index(backURL, "current")"><button type="button" class="btn">@Messages("navigation.sites.showcurrent.label")</button></a>
                                } else {
                                    <a href="@controllers.routes.NavigationController.index(backURL, "all")"><button type="button" class="btn">@Messages("navigation.sites.showall.label")</button></a>
                                }
                            }
                        </div>

                        @defining(GroupingBlock.find.site) { site =>
                            @if(site ==null || site.getSubBlocks.isEmpty) {
                                <p class="bg-danger">
                                    This site has not been initialized yet.
                                    <a href="@controllers.routes.SetupController.initializeNewSite">Initialize now?</a><br>
                                    (This will add a site node containing frontend, erros pages, trash bin etc.)
                                </p>
                            }
                        }

                        <div class="dd" id="navorder">
                            @* Loop all root nodes and show their tree *@
                            <ol class="dd-list">
                            @for(rootNode <-PageBlock.find.rootNodes(showAll)) {
                                @_navigationOverviewTree(rootNode)
                            }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    @form(controllers.routes.NavigationController.reorder(request.path)) {
        <input type="hidden" name="navorder" id="navorder_output" class="form-control col-md-12 margin-bottom-10">

        <div class="form-actions fluid">
            <div class="col-md-6">
                <button type="submit" class="btn pull-right disabled" id="btn_save">@Messages("btn.save")</button>
            </div>
        </div>
    }

    @deleteBlockModal(Messages("admin.navigation.delete.page.title"))
}
