@(
        a: ch.insign.cms.views.admin.utils.AdminContext,
        user: ch.insign.playauth.party.support.DefaultParty,
        userForm: Form[ch.insign.playauth.party.support.DefaultParty],
        roles: List[ch.insign.playauth.party.PartyRole],
        extraMenuItems: Html=Html.apply(""))

@import helper.{options, inputPassword}
@import views.html.metronic._
@import helper._
@import ch.insign.cms.views.html.admin.shared.layout
@import play.api.i18n.Messages;
@import ch.insign.cms.views.html.helpers._
@import ch.insign.cms.views.html.admin.party.userEditPage
@import ch.insign.playauth.party.support.DefaultPartyRole
@import ch.insign.playauth.permissions._
@import ch.insign.playauth.views.helper.{hasPermission, hasAnyPermission, lacksPermission,lacksAnyPermission}
@import ch.insign.cms.models.CMS
@import ch.insign.playauth.party.PartyRole
@import ch.insign.playauth.PlayAuth.{ getCurrentParty, getAccessControlManager, isPermitted }
@import ch.insign.playauth.views.helper._

@isGranted(role: PartyRole) = @{ userForm.get.getRoles.contains(role) }
@canGrant(role: PartyRole) = @{ isPermitted(PartyRolePermission.GRANT(role)) }
@canRevoke(role: PartyRole) = @{ isPermitted(PartyRolePermission.REVOKE(role)) }

@userEditPage(a, user, extraMenuItems) {
    @hasPermission(PartyRolePermission.BROWSE) {
        <div id="tab_1-3" class="tab-pane active">
            <div id="role-tab">


            @form(CMS.getRouteResolver.updatePartyRoles(user.getId), 'class -> "form-horizontal", 'id -> "frm-edit-user-roles") {
                @formKey()
                @formKeyAdditional("_roles*")
                <div class="form-group">
                    <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-6 col-md-8 col-sm-6">
                       <div class="checkbox-list">
                            @for((role, index) <- roles.zipWithIndex) {
                                <div>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="_roles[@index].id" value="@role.getId"
                                            @if(!canRevoke(role) && isGranted(role)) { disabled title='@Messages("backend.cant.revoke.role")'}
                                            @if(!canGrant(role) && !isGranted(role)) { disabled }
                                            @if(isGranted(role)) { checked }>
                                            @role.getName
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                @if(roles.exists(role => canGrant(role) || canRevoke(role))) {
                    <div class="form-actions fluid">
                        <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-9 col-md-8 col-sm-8">
                            <button type="submit" class="btn red">@Messages("btn.save")</button>
                            <a href="@CMS.getRouteResolver.listParties()" class="btn default">@Messages("backend.btn.cancel")</a>
                        </div>
                    </div>
                }

            }


            </div>
        </div>
    }
}
