@(emailTemplateForm: Form[_ <: ch.insign.cms.models.EmailTemplate], customerEmailTemplate: Boolean = false)(extension: Html=Html.apply(""))

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.helpers.mstring
@import ch.insign.cms.views.html.helpers.mstringTextarea
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.mstringFormFrontend
@import ch.insign.cms.views.html.helpers.formKey
@import metronic.text
@import helper.options
@import play.api.i18n.Messages
@import ch.insign.cms.models.EmailTemplate

@title = @{
    if (customerEmailTemplate) {
        Messages("backend.customer.user.emailTemplate.create.title")
    } else {
        Messages("backend.mail.templates.edit.title")
    }
}

@formCall = @{
    if (customerEmailTemplate) {
        ch.insign.cms.controllers.routes.CustomerEmailTemplateController.doAdd()
    } else {
        ch.insign.cms.controllers.routes.EmailTemplateController.doAdd()
    }
}

@listCall = @{
    if (customerEmailTemplate) {
        ch.insign.cms.controllers.routes.CustomerEmailTemplateController.list()
    } else {
        ch.insign.cms.controllers.routes.EmailTemplateController.listForCurrentSite()
    }
}

@*
* Template for adding new EmailTemplate
*@
@layout(new AdminContext(), "", "", null, null) {
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i> @title
                    </div>
                </div>
                <div class="portlet-body email-template-form">
                    @mstringFormFrontend(formCall, 'class -> "form-horizontal") {
                        @formKey()

                        <div class="form-body">

                            @metronic.select(
                                emailTemplateForm,
                                "category",
                                Messages("backend.user.email.category.label"),
                                options(EmailTemplate.EmailTemplateCategory.options())
                            )

                            @text(
                                emailTemplateForm,
                                "templateKey",
                                Messages("backend.user.email.key.label"),
                                ""
                            )

                            @text(
                                emailTemplateForm,
                                "sender",
                                Messages("backend.user.email.sender.label"),
                                ""
                            )

                            @text(
                                emailTemplateForm,
                                "replyTo",
                                Messages("backend.user.email.replyTo.label"),
                                ""
                            )

                            @text(
                                emailTemplateForm,
                                "bcc",
                                Messages("backend.user.email.bcc.label"),
                                ""
                            )

                            @mstring(null, emailTemplateForm, "description", Messages("backend.mail.templates.header.description"), "")

                            @mstring(null, emailTemplateForm, "subject", Messages("backend.user.email.subject.label"), " ")

                            @mstringTextarea(null, emailTemplateForm, "content", Messages("backend.user.email.content.label"), "", "", "")

                            @extension

                        </div>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-8">
                                <button type="submit" class="btn red">@Messages("backend.btn.save")</button>
                                <a href="@listCall" class="btn default">@Messages("backend.btn.cancel")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
