@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.playauth.views.helper._
@import ch.insign.cms.permissions.CustomerEmailTemplatePermission
@import ch.insign.cms.models.CustomerEmailTemplate
@import ch.insign.cms.controllers.routes

@(emailTemplates: java.util.List[CustomerEmailTemplate])

@layout(new AdminContext()){
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-envelope"></i>@Messages("backend.customer.user.emailTemplate.list.title")<span class="badge badge-default" style="margin-left: 10px;">@Option(emailTemplates.size).getOrElse("0")</span>
                    </div>
                    <div class="actions">
                        @hasPermission(CustomerEmailTemplatePermission.ADD) {
                            <a href="@routes.CustomerEmailTemplateController.add()" class="btn red">
                                <i class="icon-plus"></i> @Messages("backend.newEntry.button")
                            </a>
                        }
                    </div>
                </div>

                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover table-advance">
                        <thead>
                            <tr>
                                <th>@Messages("backend.customer.user.emailTemplate.header.subject")</th>
                                <th>@Messages("backend.customer.user.emailTemplate.description.label")</th>
                                <th>@Messages("backend.customer.user.emailTemplate.header.userTypeFormCreate")</th>
                                <th>@Messages("backend.customer.user.emailTemplate.header.userTypeFormUpdate")</th>
                                <th>@Messages("backend.customer.user.emailTemplate.head.actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @Option(emailTemplates).filter(_.nonEmpty).map{ emailTemplates => @emailTemplates.map { emailTemplate =>
                            <tr class="odd gradeX">
                                <td>
                                     @hasPermission(CustomerEmailTemplatePermission.EDIT(emailTemplate)) {
                                        <a href="@routes.CustomerEmailTemplateController.edit(emailTemplate.getId)">@emailTemplate.getSubject</a>
                                    }.getOrElse{
                                        @emailTemplate.getSubject
                                    }

                                </td>
                                <td>@emailTemplate.getDescription</td>
                                <td>
                                    @if(emailTemplate.getTypeList != null && emailTemplate.getTypeList.contains(CustomerEmailTemplate.UserFormType.CREATE)) {
                                        <span class="label label-success">@Messages("backend.option.yes")</span>
                                    }else{
                                        <span class="label label-warning">@Messages("backend.option.no")</span>
                                    }
                                </td>
                                <td>
                                    @if(emailTemplate.getTypeList != null && emailTemplate.getTypeList.contains(CustomerEmailTemplate.UserFormType.UPDATE)) {
                                        <span class="label label-success">@Messages("backend.option.yes")</span>
                                    }else{
                                        <span class="label label-warning">@Messages("backend.option.no")</span>
                                    }
                                </td>
                                <td>
                                    <span>
                                        @hasPermission(CustomerEmailTemplatePermission.EDIT(emailTemplate)) {
                                            <a title="Bearbeiten" href="@routes.CustomerEmailTemplateController.edit(emailTemplate.getId)">
                                                <i class="fa fa-edit"></i>
                                            </a> &nbsp;
                                        }

                                        @hasPermission(CustomerEmailTemplatePermission.DELETE(emailTemplate)) {
                                            <a data-toggle="modal" title="Löschen" href="#confirm-delete-@emailTemplate.getId">
                                                <i class="fa fa-trash"></i>
                                            </a> &nbsp;
                                        }
                                    </span>
                                </td>
                            </tr>
                            <div id="confirm-delete-@emailTemplate.getId" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">@Messages("backend.customer.user.emailTemplate.delete.modal.title")</h4>
                                </div>
                                <div class="modal-body">
                                    <p>@Messages("backend.customer.user.emailTemplate.modal.delete.content", emailTemplate.getSubject)</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">@Messages("modal.btn.cancel")</button>
                                    <a href="@{routes.CustomerEmailTemplateController.delete(emailTemplate.getId)}" class="btn red">@Messages("modal.btn.delete")</a>
                                </div>
                            </div>
                        }}.getOrElse {
                            <tr>
                                <td colspan="5" class="text-muted text-center">
                                    <br><i class="icon-search text-muted"></i> &nbsp; @Messages("backend.search.no_results")<br><br>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

