@import ch.insign.cms.attributeset.controller.routes.OptionController

@(options: List[ch.insign.cms.attributeset.model.Option], attributeId: String)

<ol class="dd-list">
	@for(option <- options) {
		<li class="dd-item" data-id="@option.getId">
			<div class="dd-handle">@Html(option.getName.get)</div>
			<div class="nestable-list-actions">
				<a href="@OptionController.showEdit(option.getId, attributeId)"><i class="fa fa-edit"></i></a>
				<a href="@OptionController.delete(option.getId, attributeId)"><i class="fa fa-trash"></i></a>
			</div>
			@if(option.getChildren != null && !option.getChildren.isEmpty){
				@_option_layout(option.getChildren, attributeId)
			}
		</li>
	}
</ol>