@(
        authApi: ch.insign.playauth.PlayAuthApi,
        form: Form[_ <: ch.insign.playauth.party.PartyRole]
)

@import ch.insign.playauth.views.helper._
@import ch.insign.playauth.authz.DomainPermission
@import ch.insign.playauth.utils.AuthzFormHandler
@import ch.insign.playauth.authz.ObjectIdentity.{ ALL => ANYTHING }
@import ch.insign.playauth.authz.SecurityIdentity.{ ALL => ANYONE, UNKNOWN }
@import ch.insign.playauth.permissions.AclPermission.{ UPDATE_ACL }
@import ch.insign.playauth.permissions.PartyRolePermission.{ GRANT, REVOKE }
@import scala.compat.java8.OptionConverters._

@role = @{form.value.asScala}
@acm = @{authApi.getAccessControlManager}
@pm = @{authApi.getPermissionManager}
@prm = @{authApi.getPartyRoleManager}
@toSid(authority: Any) = @{authApi.getSecurityIdentity(authority)}

@isInherited(permission: DomainPermission[_]) = @{
    !acm.containsPermission(role.filter(_.getId != null).map(toSid).getOrElse(ANYONE), permission)
}

@isDirectlyAllowed(permission: DomainPermission[_]) = @{
    pm.getAllowedPermissions(role.filter(_.getId != null).map(toSid).getOrElse(ANYONE), permission.target)
            .map(pm.getQualifiedName(_))
            .exists(_.equals(pm.getQualifiedName(permission)))
}

@isDirectlyDenied(permission: DomainPermission[_]) = @{
    pm.getDeniedPermissions(role.filter(_.getId != null).map(toSid).getOrElse(ANYONE), permission.target)
            .map(pm.getQualifiedName(_))
            .exists(_.equals(pm.getQualifiedName(permission)))
}

@isAllowedByDefault(permission: DomainPermission[_]) = @{
    acm.isPermittedByDefault(role.filter(_.getId != null).map(toSid).getOrElse(ANYONE), permission)
}

@isDeniedByDefault(permission: DomainPermission[_]) = @{
    !isAllowedByDefault(permission)
}

@canGrantOrRevoke(p: DomainPermission[_]) = @{
    authApi.isPermitted(UPDATE_ACL(p.target))
}

@target(permission: DomainPermission[_]) = @{
    if(permission.target != ANYTHING) {
        Option(":" + permission.target.getType + "-" + permission.target.getIdentifier)
    } else {
        None
    }
}

@anchor(permission: DomainPermission[_]) = @{
    if(permission.target != ANYTHING) {
        permission.id + "-" + permission.target.getType + "." + permission.target.getIdentifier
    } else {
        permission.id
    }
}

@msg(key: String, args: Seq[scala.Any] = Seq()) = {@Html(Messages("roles.permissions." + key, args:_*))}
@tr(key: String, args: Seq[scala.Any] = Seq()) = {@Messages("roles.permissions." + key, args:_*)}

@permissionTitle(p: DomainPermission[_], specificTitle: Option[String] = None) = {
@specificTitle.map{ title =>
    @Html(Messages(p.id + ".specific_title", title))
}.getOrElse {
    @Html(Messages(p.id + ".plural_title"))
}
}

@permissionEntry(p: DomainPermission[_], specificTitle: Option[String] = None) = {
@defining(AuthzFormHandler.generateAuthzInputName(role.filter(_.getId != null).map(toSid).getOrElse(UNKNOWN), p.id)) { inputName =>
    <fieldset @if(!canGrantOrRevoke(p)) { disabled="disabled" title="@tr("grant-and-revoke.forbidden")" }>
    <div class="input-group permission" data-is-permitted-by-default="@acm.isPermitted(role.filter(_.getId != null).getOrElse(ANYONE), p)">
        <div class="btn-group authz-switch @if(isInherited(p)) { not-selected } else { selected }" data-toggle="authz-switch">

            <label class="btn btn-xs btn-allow @if(isDirectlyAllowed(p)){ active } @if(isAllowedByDefault(p)){ default }">
                <input type="radio" class="toggle" name="@inputName" value="allow@target(p)" @if(isDirectlyAllowed(p)){ checked }>

                <span class="visible-inactive glyphicon glyphicon-ok-circle" title="@msg("allow.label")"></span>
                <span class="visible-active glyphicon glyphicon-ok-circle" title="@msg("allowed.label")"></span>
                <span class="visible-default glyphicon glyphicon-ok-circle" title="@msg("allowed-by-default.label")"></span>
            </label>

            <label class="btn btn-xs btn-deny @if(isDirectlyDenied(p)){ active } @if(isDeniedByDefault(p)){ default }">
                <input type="radio" class="toggle" name="@inputName" value="deny@target(p)" @if(isDirectlyDenied(p)){ checked }>

                <span class="visible-inactive glyphicon glyphicon-ban-circle" title="@msg("deny.label")"></span>
                <span class="visible-active glyphicon glyphicon-ban-circle" title="@msg("denied.label")"></span>
                <span class="visible-default glyphicon glyphicon-ban-circle" title="@msg("denied-by-default.label")"></span>
            </label>

            <label class="btn btn-xs btn-inherit fallback @if(isInherited(p)){ active }">
                <input type="radio" class="toggle" name="@inputName" value="inherit@target(p)" @if(isInherited(p)){ checked }>
            </label>
        </div>
        <label id="@anchor(p)">
        @permissionTitle(p, specificTitle)
        </label>

        @defining(pm.resolvePermissionsAllowedBy(p)) { implied =>
            <p class="help-block">
                @if(implied.nonEmpty) {

                    @{msg("implies-other-permissions",
                        Seq(permissionTitle(p, specificTitle),
                            implied.size,
                            implied.map(p2 => msg("implies-other-permissions.item", Seq(permissionTitle(p2, specificTitle), anchor(p2)))).mkString(", ")))}
                }
            </p>
        }
    </div>
    </fieldset>
}
}

@permissions = @{
    pm.getDefinedPermissions
            .filter(authApi.isRestricted(_))
            .toSeq
            .sortBy(p => Messages(s"${p.id}.plural_title"))
            .groupBy(_.domain)
            .toSeq
            .sortBy(t => Messages(s"${t._1}.plural_title"))
}

@permissions.map { case (domain, ps) =>
<fieldset>
    <legend>@Messages(domain + ".plural_title")</legend>
    @ps.map { p =>
        @permissionEntry(p)
        @if(Seq(GRANT, REVOKE).map(_.id).contains(p.id)) {
            @prm.findAll.map { role =>
                @permissionEntry(pm.applyTarget(p.asInstanceOf[DomainPermission[Any]], role), Option(role.getName))
            }
        }
    }
</fieldset>
}
