@(
        a: ch.insign.cms.views.admin.utils.AdminContext,
        roleForm: Form[_ <: ch.insign.playauth.party.PartyRole],
        permissionsForm: => Html
)

@import helper._
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.helpers.formKey
@import views.html.metronic._
@import ch.insign.cms.controllers

@header() = {
    <link rel="stylesheet" href="@{ch.insign.cms.views.html.tags._asset("backend/permissions-block.css")}" type="text/css" />
}

@footer() = {
    <script type="text/javascript" src="@{ch.insign.cms.views.html.tags._asset("backend/js/permissions-block.js")}"></script>
}

@layout(a, "", "", header(), footer()) {
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@Messages("backend.roles.add.button.label")
                    </div>
                </div>
                <div class="portlet-body">
                    @form(controllers.routes.RoleController.doAdd(), 'class -> "form-horizontal") {

                        @formKey("authz-*")

                        <div class="form-group">
                            @inputText(
                                roleForm("name"),
                                'class -> "form-control",
                                'placeholder -> "Name",
                                '_label -> "Name"
                            )
                        </div>

                        <h3 class="form-section">@Messages("backend.roles.title")</h3>

                        <div class="form-group">
                            <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-6 col-md-8 col-sm-6">
                                @permissionsForm
                            </div>
                        </div>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-8">
                                <button type="submit" class="btn red">@Messages("backend.btn.save")</button>
                                <a href="@controllers.routes.RoleController.list()" class="btn default">@Messages("backend.btn.cancel")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
