@(
        a: ch.insign.cms.views.admin.utils.AdminContext,
        id: String,
        roleForm: Form[_ <: ch.insign.playauth.party.PartyRole],
        permissionsForm: => Html
)

@import helper._
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.helpers.formKey
@import views.html.metronic._
@import ch.insign.cms.controllers
@import ch.insign.playauth.views.helper._
@import ch.insign.playauth.permissions.PartyRolePermission
@import ch.insign.playauth.PlayAuth.{ getAccessControlManager => acm }

@header() = {
    <link rel="stylesheet" href="@{ch.insign.cms.views.html.tags._asset("backend/permissions-block.css")}" type="text/css" />
}

@footer() = {
    <script type="text/javascript" src="@{ch.insign.cms.views.html.tags._asset("backend/js/permissions-block.js")}"></script>
}

@layout(a, "", "", header(), footer()) {
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-edit"></i>@Messages("backend.roles.edit.title")
                    </div>
                </div>
                <div class="portlet-body">
                    @form(controllers.routes.RoleController.doEdit(id), 'class -> "form-horizontal", 'id -> "frm-edit-role") {
                        <fieldset @lacksPermission(PartyRolePermission.EDIT) { disabled="disabled" }>
                        @formKey("authz-*")

	                    <input type="hidden" name="id" value="@id"/>
                        
                        <div class="form-group">
                            @inputText(
                                roleForm("name"),
                                'class -> "form-control",
                                'placeholder -> Messages("backend.roles.name.placeholder"),
                                '_label -> Messages("backend.roles.name.label")
                            )
                        </div>

                            @if(!acm.isPermittedEverything(roleForm.get)){
                            <h3 class="form-section">@Messages("backend.roles.title")</h3>

                            <div class="form-group">
                                <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-6 col-md-8 col-sm-6">
                                    @permissionsForm
                                </div>
                            </div>
                        }

                        </fieldset>

                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-8">
                                <button type="submit" @lacksPermission(PartyRolePermission.EDIT) { disabled="disabled" }  class="btn red">@Messages("btn.save")</button>
                                <a href="@controllers.routes.RoleController.list()" class="btn default">@Messages("backend.btn.cancel")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

