@(pageNo: Int, page: ch.insign.commons.db.Paginate.Page[_], getCall: (Int) => Call)

@import play.api.i18n.Messages

@if(page.getTotalItemCount > 0) {
    <div class="row">

        <div class="col-md-5 col-sm-12">
            <div class="dataTables_info">
                @page.getFirstItem @Messages("common.paginate.to") @page.getLastItem @Messages("common.paginate.of") @page.getTotalItemCount
                @* @page.getDisplayXtoYofZ(" bis ", " von ") *@
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
        @if(page.getTotalPageCount > 1 || true) {
            <div class="dataTables_paginate paging_bootstrap">
                <ul class="pagination">
                    @if(page.getPageNumber > 1) {
                        <li>
                            <a href="@getCall(1)">
                                «
                            </a>
                        </li>
                    }
                    @if(page.getPageNumber > 1) {
                        <li>
                            <a href="@getCall(page.getPageNumber - 1)">
                                <
                            </a>
                        </li>
                    }
                    @for(pageNo <- (page.getPageNumber - 2) to (page.getPageNumber + 2) ){
                        @if(pageNo > 0 && pageNo <= page.getTotalPageCount) {
                            <li @if(pageNo == page.getPageNumber){class="active"}>
                            <a href="@getCall(pageNo)">
                            @pageNo
                            </a>
                            </li>
                        }
                    }
                    @if(page.getPageNumber < page.getTotalPageCount) {
                        <li>
                            <a href="@getCall(page.getPageNumber + 1)">
                                >
                            </a>
                        </li>
                    }
                    @if(page.getPageNumber < page.getTotalPageCount) {
                        <li>
                            <a href="@getCall(page.getTotalPageCount)">
                                »
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
        </div>

    </div>
}